{% extends 'base.html' %}

{% block content123 %}

<div class="container">

{% if messages %}
    <div class="col-md-8 col-md-offset-2 alert alert-info" style="text-align: center">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

    <div class="row col-md-4">
        <form method="post" action="">{% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'dashboard' %}" class="btn btn-primary">forget it</a>
            <input type="submit" class="btn btn-warning">
        </form>
    </div>

</div>

{% endblock %}