{% extends 'base.html' %}

{% block jumbotron %}

<style xmlns="http://www.w3.org/1999/html">
    .big {
        font-size:80px;
    }
    .line {
        font-size:25px;
    }
</style>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-7"><br><br>

          <div class="big col-md-12">
           <p style="font-size:55px; vertical-align:middle; color:black;">YOU</p>
          </div>

          <div class="col-md-12 plus">
           <p class="pull-left" style="font-size:55px; vertical-align:middle; color:red;">
           +
           </p>
          </div>

          <div class="big col-md-12">
            <p style="font-size:55px; vertical-align:middle; color:black;">US</p>
          </div>

          <div class="big col-md-12">
            <p style="font-size:55px; vertical-align:middle; color:red;">
            =
            </p>
          </div>

          <div class="big col-md-12">
            <p style="font-size:55px; vertical-align:middle; color:black;">
            MONEY IN THE BANK
            </p>
          </div>
        </div>

        <div class="col-md-5 pull-left"><br><br><br>
            <iframe src="//fast.wistia.net/embed/iframe/lf237rwuv9" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="430" height="421"></iframe>
        </div>

      </div>
    </div>

{% endblock %}

